In [1]:
# Dependencies and Setup

import pandas as pd

In [2]:
# File to Load (Remember to Change These)

Jan_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Jan2017.csv"
Feb_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Feb2017.csv"
Mar_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Mar2017.csv"
Apr_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Apr2017.csv"
May_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/May2017.csv"
Jun_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Jun2017.csv"
Jul_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Jul2017.csv"
Aug_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Aug2017.csv"
Sep_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Sep2017.csv"
Oct_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Oct2017.csv"
Nov_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Nov2017.csv"
Dec_load = "/Users/diegogonzalez/Desktop/Data Science/Project1/Flightstats/Dec2017.csv"

# Read School and Student Data File and store into Pandas DataFrames

Jan = pd.read_csv(Jan_load)
Feb = pd.read_csv(Feb_load)
Mar = pd.read_csv(Mar_load)
Apr = pd.read_csv(Apr_load)
May = pd.read_csv(May_load)
Jun = pd.read_csv(Jun_load)
Jul = pd.read_csv(Jul_load)
Aug = pd.read_csv(Aug_load)
Sep = pd.read_csv(Sep_load)
Oct = pd.read_csv(Oct_load)
Nov = pd.read_csv(Nov_load)
Dec = pd.read_csv(Dec_load)

In [3]:
# # Combine the data into a single dataset 
# school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
# school_data_complete.head()
Jan

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
0,2017-01-01,EV,IAH,"Houston, TX",CLE,"Cleveland, OH",1935,-4.0,0.0,2258.0,-22.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,EV,IAH,"Houston, TX",CLE,"Cleveland, OH",1344,-8.0,0.0,1706.0,-26.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01,EV,IAH,"Houston, TX",CMH,"Columbus, OH",1910,130.0,130.0,41.0,116.0,116.0,0.0,116.0,0.0,0.0,0.0,0.0,NaN
3,2017-01-01,EV,CLE,"Cleveland, OH",EWR,"Newark, NJ",1843,-7.0,0.0,2012.0,-13.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01,EV,EWR,"Newark, NJ",CMH,"Columbus, OH",1410,-8.0,0.0,1549.0,-17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10737,2017-01-31,B6,BOS,"Boston, MA",CLE,"Cleveland, OH",650,-8.0,0.0,832.0,-28.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10738,2017-01-31,B6,CLE,"Cleveland, OH",BOS,"Boston, MA",1943,5.0,5.0,2141.0,17.0,17.0,0.0,5.0,0.0,12.0,0.0,0.0,NaN
10739,2017-01-31,B6,BOS,"Boston, MA",CLE,"Cleveland, OH",1659,-7.0,0.0,1912.0,5.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10740,2017-01-31,B6,CLE,"Cleveland, OH",FLL,"Fort Lauderdale, FL",1120,-5.0,0.0,1347.0,-29.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10741,2017-01-31,B6,FLL,"Fort Lauderdale, FL",CLE,"Cleveland, OH",740,-10.0,0.0,1012.0,-26.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
jan_cle=Jan.loc[(Jan["ORIGIN"] =="CLE") | (Jan["DEST"] =="CLE")]
jan_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
0,2017-01-01,EV,IAH,"Houston, TX",CLE,"Cleveland, OH",1935,-4.0,0.0,2258.0,-22.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,EV,IAH,"Houston, TX",CLE,"Cleveland, OH",1344,-8.0,0.0,1706.0,-26.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,EV,CLE,"Cleveland, OH",EWR,"Newark, NJ",1843,-7.0,0.0,2012.0,-13.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-01-01,EV,CLE,"Cleveland, OH",IAH,"Houston, TX",1003,1.0,1.0,1244.0,14.0,14.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2017-01-01,EV,CLE,"Cleveland, OH",EWR,"Newark, NJ",742,-6.0,0.0,903.0,-21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10737,2017-01-31,B6,BOS,"Boston, MA",CLE,"Cleveland, OH",650,-8.0,0.0,832.0,-28.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10738,2017-01-31,B6,CLE,"Cleveland, OH",BOS,"Boston, MA",1943,5.0,5.0,2141.0,17.0,17.0,0.0,5.0,0.0,12.0,0.0,0.0,NaN
10739,2017-01-31,B6,BOS,"Boston, MA",CLE,"Cleveland, OH",1659,-7.0,0.0,1912.0,5.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10740,2017-01-31,B6,CLE,"Cleveland, OH",FLL,"Fort Lauderdale, FL",1120,-5.0,0.0,1347.0,-29.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10741,2017-01-31,B6,FLL,"Fort Lauderdale, FL",CLE,"Cleveland, OH",740,-10.0,0.0,1012.0,-26.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
feb_cle=Feb.loc[(Feb["ORIGIN"] =="CLE") | (Feb["DEST"] =="CLE")]
feb_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
3,2017-02-01,DL,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1031,-4.0,0.0,1201.0,-17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-02-01,DL,CLE,"Cleveland, OH",ATL,"Atlanta, GA",1300,-12.0,0.0,1420.0,-39.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-02-01,DL,CLE,"Cleveland, OH",ATL,"Atlanta, GA",835,-9.0,0.0,1003.0,-36.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-02-01,DL,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1710,-4.0,0.0,1846.0,-15.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
28,2017-02-01,DL,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1457,1.0,1.0,1644.0,-2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9820,2017-02-28,NK,CLE,"Cleveland, OH",LAX,"Los Angeles, CA",1649,-17.0,0.0,1857.0,4.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9821,2017-02-28,NK,CLE,"Cleveland, OH",ATL,"Atlanta, GA",1758,-7.0,0.0,1937.0,-17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9822,2017-02-28,NK,ATL,"Atlanta, GA",CLE,"Cleveland, OH",929,-5.0,0.0,1058.0,-14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9825,2017-02-28,NK,RSW,"Fort Myers, FL",CLE,"Cleveland, OH",1810,-8.0,0.0,2049.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9826,2017-02-28,NK,CLE,"Cleveland, OH",RSW,"Fort Myers, FL",1439,-3.0,0.0,1705.0,-20.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
mar_cle=Mar.loc[(Mar["ORIGIN"] =="CLE") | (Mar["DEST"] =="CLE")]
mar_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
2,2017-03-01,NK,MCO,"Orlando, FL",CLE,"Cleveland, OH",1122,24.0,24.0,1408.0,14.0,14.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-03-01,NK,CLE,"Cleveland, OH",MCO,"Orlando, FL",810,-4.0,0.0,1053.0,16.0,16.0,0.0,0.0,0.0,16.0,0.0,0.0,NaN
4,2017-03-01,F9,TPA,"Tampa, FL",CLE,"Cleveland, OH",710,108.0,108.0,1123.0,96.0,96.0,0.0,96.0,0.0,0.0,0.0,0.0,NaN
5,2017-03-01,F9,CLE,"Cleveland, OH",TPA,"Tampa, FL",1033,95.0,95.0,1431.0,74.0,74.0,0.0,0.0,0.0,0.0,0.0,74.0,NaN
6,2017-03-01,F9,MCO,"Orlando, FL",CLE,"Cleveland, OH",840,40.0,40.0,1142.0,25.0,25.0,0.0,25.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11730,2017-03-31,EV,CLE,"Cleveland, OH",LGA,"New York, NY",645,-7.0,0.0,817.0,-13.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11733,2017-03-31,AA,CLE,"Cleveland, OH",CLT,"Charlotte, NC",1524,-6.0,0.0,1652.0,-13.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11734,2017-03-31,AA,CLE,"Cleveland, OH",CLT,"Charlotte, NC",818,-2.0,0.0,944.0,-25.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11735,2017-03-31,AA,CLT,"Charlotte, NC",CLE,"Cleveland, OH",2019,-2.0,0.0,2152.0,-5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11736,2017-03-31,AA,CLT,"Charlotte, NC",CLE,"Cleveland, OH",1305,-4.0,0.0,1423.0,-17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
apr_cle=Apr.loc[(Apr["ORIGIN"] =="CLE") | (Apr["DEST"] =="CLE")]
apr_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
0,2017-04-01,UA,CLE,"Cleveland, OH",FLL,"Fort Lauderdale, FL",735,18.0,18.0,1053.0,17.0,17.0,0.0,17.0,0.0,0.0,0.0,0.0,NaN
3,2017-04-01,UA,DEN,"Denver, CO",CLE,"Cleveland, OH",1602,1.0,1.0,2039.0,-15.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-04-01,UA,SJU,"San Juan, PR",CLE,"Cleveland, OH",1215,0.0,0.0,1641.0,-14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-04-01,UA,CLE,"Cleveland, OH",SJU,"San Juan, PR",700,1.0,1.0,1052.0,-23.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-04-01,AA,CLE,"Cleveland, OH",DFW,"Dallas/Fort Worth, TX",1525,-7.0,0.0,1712.0,-19.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11984,2017-04-30,EV,DCA,"Washington, DC",CLE,"Cleveland, OH",1423,7.0,7.0,1557.0,11.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11985,2017-04-30,EV,DCA,"Washington, DC",CLE,"Cleveland, OH",1730,22.0,22.0,1941.0,43.0,43.0,0.0,21.0,0.0,22.0,0.0,0.0,NaN
12007,2017-04-30,OO,CLE,"Cleveland, OH",ORD,"Chicago, IL",740,-7.0,0.0,814.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12012,2017-04-30,OO,CLE,"Cleveland, OH",ORD,"Chicago, IL",1908,19.0,19.0,2016.0,36.0,36.0,0.0,0.0,0.0,36.0,0.0,0.0,NaN
12013,2017-04-30,OO,ORD,"Chicago, IL",CLE,"Cleveland, OH",1450,-5.0,0.0,1658.0,-10.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
may_cle=May.loc[(May["ORIGIN"] =="CLE") | (May["DEST"] =="CLE")]
may_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
38,2017-05-01,OO,CLE,"Cleveland, OH",ORD,"Chicago, IL",1750,-7.0,0.0,1806.0,-13.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
39,2017-05-01,OO,ORD,"Chicago, IL",CLE,"Cleveland, OH",1450,-6.0,0.0,1659.0,-9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
44,2017-05-01,AA,CLE,"Cleveland, OH",DFW,"Dallas/Fort Worth, TX",1525,-2.0,0.0,1723.0,-1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
45,2017-05-01,AA,DFW,"Dallas/Fort Worth, TX",CLE,"Cleveland, OH",1105,-4.0,0.0,1420.0,-20.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
46,2017-05-01,B6,CLE,"Cleveland, OH",BOS,"Boston, MA",925,-8.0,0.0,1049.0,-14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12434,2017-05-31,EV,CLE,"Cleveland, OH",LGA,"New York, NY",1140,-3.0,0.0,1305.0,-14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12435,2017-05-31,EV,LGA,"New York, NY",CLE,"Cleveland, OH",1712,-3.0,0.0,1853.0,-12.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12436,2017-05-31,EV,CLE,"Cleveland, OH",LGA,"New York, NY",1720,36.0,36.0,1919.0,20.0,20.0,0.0,0.0,0.0,0.0,0.0,20.0,NaN
12437,2017-05-31,EV,CLE,"Cleveland, OH",MSP,"Minneapolis, MN",705,-7.0,0.0,748.0,-20.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12438,2017-05-31,EV,CLE,"Cleveland, OH",LGA,"New York, NY",1940,-12.0,0.0,2137.0,20.0,20.0,0.0,0.0,0.0,20.0,0.0,0.0,NaN

In [9]:
jun_cle=Jun.loc[(Jun["ORIGIN"] =="CLE") | (Jun["DEST"] =="CLE")]
jun_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
11,2017-06-01,DL,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1455,11.0,11.0,1642.0,-2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-06-01,DL,CLE,"Cleveland, OH",ATL,"Atlanta, GA",1724,1.0,1.0,1903.0,-10.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
25,2017-06-01,DL,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1033,-1.0,0.0,1218.0,3.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-06-01,DL,CLE,"Cleveland, OH",ATL,"Atlanta, GA",1255,-1.0,0.0,1429.0,-15.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-06-01,DL,ATL,"Atlanta, GA",CLE,"Cleveland, OH",2234,-8.0,0.0,6.0,-19.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12451,2017-06-30,AA,DFW,"Dallas/Fort Worth, TX",CLE,"Cleveland, OH",1100,-5.0,0.0,1446.0,10.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12458,2017-06-30,AA,CLE,"Cleveland, OH",DFW,"Dallas/Fort Worth, TX",1130,10.0,10.0,1346.0,32.0,32.0,0.0,0.0,0.0,22.0,0.0,10.0,NaN
12459,2017-06-30,AA,DFW,"Dallas/Fort Worth, TX",CLE,"Cleveland, OH",710,-3.0,0.0,1103.0,18.0,18.0,0.0,0.0,0.0,18.0,0.0,0.0,NaN
12460,2017-06-30,AA,CLE,"Cleveland, OH",DFW,"Dallas/Fort Worth, TX",1910,1209.0,1209.0,1701.0,1207.0,1207.0,0.0,0.0,0.0,0.0,0.0,1207.0,NaN
12461,2017-06-30,AA,DFW,"Dallas/Fort Worth, TX",CLE,"Cleveland, OH",1435,453.0,453.0,148.0,455.0,455.0,0.0,252.0,0.0,2.0,0.0,201.0,NaN

In [10]:
jul_cle=Jul.loc[(Jul["ORIGIN"] =="CLE") | (Jul["DEST"] =="CLE")]
jul_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
0,2017-07-01,AA,CLE,"Cleveland, OH",DFW,"Dallas/Fort Worth, TX",719,9.0,9.0,938.0,33.0,33.0,0.0,9.0,0.0,24.0,0.0,0.0,NaN
4,2017-07-01,UA,CLE,"Cleveland, OH",IAH,"Houston, TX",1540,-3.0,0.0,1751.0,14.0,14.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-07-01,UA,MCO,"Orlando, FL",CLE,"Cleveland, OH",1150,-7.0,0.0,1359.0,-15.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-07-01,UA,EWR,"Newark, NJ",CLE,"Cleveland, OH",1702,-7.0,0.0,1912.0,27.0,27.0,0.0,0.0,0.0,27.0,0.0,0.0,NaN
7,2017-07-01,UA,LAX,"Los Angeles, CA",CLE,"Cleveland, OH",2134,-6.0,0.0,440.0,-24.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12556,2017-07-31,NK,CLE,"Cleveland, OH",LAX,"Los Angeles, CA",1731,10.0,10.0,1926.0,-6.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12557,2017-07-31,NK,CLE,"Cleveland, OH",MYR,"Myrtle Beach, SC",1401,0.0,0.0,1534.0,-2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12558,2017-07-31,NK,MYR,"Myrtle Beach, SC",CLE,"Cleveland, OH",1742,-9.0,0.0,1918.0,-7.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12559,2017-07-31,NK,CLE,"Cleveland, OH",ATL,"Atlanta, GA",605,-6.0,0.0,754.0,4.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12560,2017-07-31,NK,ATL,"Atlanta, GA",CLE,"Cleveland, OH",835,1.0,1.0,1015.0,-6.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
aug_cle=Aug.loc[(Aug["ORIGIN"] =="CLE") | (Aug["DEST"] =="CLE")]
aug_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
0,2017-08-01,AA,CLE,"Cleveland, OH",DFW,"Dallas/Fort Worth, TX",1525,28.0,28.0,1746.0,34.0,34.0,0.0,1.0,0.0,6.0,0.0,27.0,NaN
1,2017-08-01,AA,DFW,"Dallas/Fort Worth, TX",CLE,"Cleveland, OH",1100,54.0,54.0,1512.0,36.0,36.0,0.0,36.0,0.0,0.0,0.0,0.0,NaN
2,2017-08-01,AA,CLT,"Charlotte, NC",CLE,"Cleveland, OH",800,-3.0,0.0,930.0,-7.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-08-01,AA,CLE,"Cleveland, OH",CLT,"Charlotte, NC",835,-10.0,0.0,1008.0,-6.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-08-01,AA,CLT,"Charlotte, NC",CLE,"Cleveland, OH",2025,-4.0,0.0,2155.0,-5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12855,2017-08-31,F9,RSW,"Fort Myers, FL",CLE,"Cleveland, OH",1915,-6.0,0.0,2143.0,-17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12856,2017-08-31,F9,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1250,-3.0,0.0,1419.0,-20.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12857,2017-08-31,F9,CLE,"Cleveland, OH",MSP,"Minneapolis, MN",1530,-10.0,0.0,1613.0,-19.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12860,2017-08-31,F9,MSP,"Minneapolis, MN",CLE,"Cleveland, OH",1035,-3.0,0.0,1314.0,-21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12861,2017-08-31,F9,CLE,"Cleveland, OH",ATL,"Atlanta, GA",1420,-6.0,0.0,1619.0,4.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
sep_cle=Sep.loc[(Sep["ORIGIN"] =="CLE") | (Sep["DEST"] =="CLE")]
sep_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
5,2017-09-01,DL,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1426,42.0,42.0,1636.0,30.0,30.0,0.0,0.0,30.0,0.0,0.0,0.0,NaN
6,2017-09-01,DL,CLE,"Cleveland, OH",ATL,"Atlanta, GA",1701,31.0,31.0,1916.0,30.0,30.0,0.0,1.0,0.0,0.0,0.0,29.0,NaN
17,2017-09-01,DL,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1915,15.0,15.0,2059.0,-1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-09-01,DL,DTW,"Detroit, MI",CLE,"Cleveland, OH",2214,11.0,11.0,2303.0,-7.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-09-01,DL,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1009,0.0,0.0,1149.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12027,2017-09-30,WN,DEN,"Denver, CO",CLE,"Cleveland, OH",1525,0.0,0.0,2012.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12030,2017-09-30,WN,LAS,"Las Vegas, NV",CLE,"Cleveland, OH",1010,-6.0,0.0,1652.0,-13.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12035,2017-09-30,WN,MDW,"Chicago, IL",CLE,"Cleveland, OH",2105,-6.0,0.0,2307.0,-3.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12036,2017-09-30,WN,MDW,"Chicago, IL",CLE,"Cleveland, OH",1415,13.0,13.0,1634.0,9.0,9.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12037,2017-09-30,WN,MDW,"Chicago, IL",CLE,"Cleveland, OH",1005,-5.0,0.0,1201.0,-14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
oct_cle=Oct.loc[(Oct["ORIGIN"] =="CLE") | (Oct["DEST"] =="CLE")]
oct_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
1,2017-10-01,AA,CLE,"Cleveland, OH",DFW,"Dallas/Fort Worth, TX",724,0.0,0.0,913.0,-6.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-10-01,F9,CLE,"Cleveland, OH",SFO,"San Francisco, CA",610,-7.0,0.0,821.0,-17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-10-01,F9,SFO,"San Francisco, CA",CLE,"Cleveland, OH",1045,-7.0,0.0,1804.0,-31.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-10-01,F9,CLE,"Cleveland, OH",RDU,"Raleigh/Durham, NC",1925,-6.0,0.0,2042.0,-10.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-10-01,F9,RDU,"Raleigh/Durham, NC",CLE,"Cleveland, OH",2140,-7.0,0.0,2259.0,-11.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12393,2017-10-31,EV,CLE,"Cleveland, OH",LGA,"New York, NY",847,-11.0,0.0,1019.0,-7.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12394,2017-10-31,EV,CLE,"Cleveland, OH",RDU,"Raleigh/Durham, NC",750,-3.0,0.0,902.0,-18.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12395,2017-10-31,EV,CLE,"Cleveland, OH",LGA,"New York, NY",641,-4.0,0.0,756.0,-24.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12396,2017-10-31,EV,CLE,"Cleveland, OH",LGA,"New York, NY",1406,-8.0,0.0,1530.0,-14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12399,2017-10-31,AA,CLT,"Charlotte, NC",CLE,"Cleveland, OH",1450,-7.0,0.0,1611.0,-14.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nov_cle=Nov.loc[(Nov["ORIGIN"] =="CLE") | (Nov["DEST"] =="CLE")]
nov_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
0,2017-11-01,UA,ORD,"Chicago, IL",CLE,"Cleveland, OH",2115,-5.0,0.0,2316.0,-19.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-11-01,UA,CLE,"Cleveland, OH",ORD,"Chicago, IL",1515,-3.0,0.0,1530.0,-12.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-11-01,UA,EWR,"Newark, NJ",CLE,"Cleveland, OH",1840,-7.0,0.0,2017.0,-5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-11-01,UA,CLE,"Cleveland, OH",EWR,"Newark, NJ",937,-4.0,0.0,1047.0,-28.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-11-01,UA,EWR,"Newark, NJ",CLE,"Cleveland, OH",640,0.0,0.0,804.0,-16.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11870,2017-11-30,EV,DCA,"Washington, DC",CLE,"Cleveland, OH",630,-8.0,0.0,739.0,-16.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11872,2017-11-30,EV,CLE,"Cleveland, OH",IAH,"Houston, TX",1115,-8.0,0.0,1334.0,-2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11873,2017-11-30,AA,CLE,"Cleveland, OH",DFW,"Dallas/Fort Worth, TX",710,-1.0,0.0,856.0,-30.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11878,2017-11-30,AA,DFW,"Dallas/Fort Worth, TX",CLE,"Cleveland, OH",2025,-2.0,0.0,2.0,3.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11879,2017-11-30,AA,CLE,"Cleveland, OH",CLT,"Charlotte, NC",700,-8.0,0.0,825.0,-19.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
dec_cle=Dec.loc[(Dec["ORIGIN"] =="CLE") | (Dec["DEST"] =="CLE")]
dec_cle

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
0,2017-12-01,AA,DFW,"Dallas/Fort Worth, TX",CLE,"Cleveland, OH",2025,-7.0,0.0,2339.0,-20.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-12-01,AA,CLE,"Cleveland, OH",DFW,"Dallas/Fort Worth, TX",710,-7.0,0.0,859.0,-27.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-12-01,F9,CLE,"Cleveland, OH",TPA,"Tampa, FL",610,-4.0,0.0,821.0,-21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15,2017-12-01,F9,TPA,"Tampa, FL",CLE,"Cleveland, OH",937,-9.0,0.0,1204.0,-11.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
16,2017-12-01,F9,CLE,"Cleveland, OH",PHX,"Phoenix, AZ",1315,-1.0,0.0,1535.0,-6.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11453,2017-12-31,EV,MSP,"Minneapolis, MN",CLE,"Cleveland, OH",2030,-1.0,0.0,2326.0,-15.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11454,2017-12-31,EV,CLE,"Cleveland, OH",LGA,"New York, NY",830,49.0,49.0,1040.0,31.0,31.0,0.0,31.0,0.0,0.0,0.0,0.0,NaN
11455,2017-12-31,EV,LGA,"New York, NY",CLE,"Cleveland, OH",1630,-7.0,0.0,1811.0,-20.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11456,2017-12-31,EV,CLE,"Cleveland, OH",DTW,"Detroit, MI",1745,-5.0,0.0,1822.0,-23.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11457,2017-12-31,EV,DTW,"Detroit, MI",CLE,"Cleveland, OH",1525,53.0,53.0,1702.0,33.0,33.0,0.0,31.0,0.0,0.0,0.0,2.0,NaN

In [16]:
# saving clean files as csv
jan_cle.to_csv('Jan_2017.csv')
feb_cle.to_csv('Feb_2017.csv')
mar_cle.to_csv('Mar_2017.csv')
apr_cle.to_csv('Apr_2017.csv')
may_cle.to_csv('May_2017.csv')
jun_cle.to_csv('Jun_2017.csv')
jul_cle.to_csv('Jul_2017.csv')
aug_cle.to_csv('Aug_2017.csv')
sep_cle.to_csv('Sep_2017.csv')
oct_cle.to_csv('Oct_2017.csv')
nov_cle.to_csv('Nov_2017.csv')
dec_cle.to_csv('Dec_2017.csv')

In [27]:
# Combine the data into a single dataset 
jan_feb_2017=jan_cle.append(feb_cle)
feb_mar_2017=jan_feb_2017.append(mar_cle)
mar_apr_2017=feb_mar_2017.append(apr_cle)
apr_may_2017=mar_apr_2017.append(may_cle)
may_jun_2017=apr_may_2017.append(jun_cle)
jun_jul_2017=may_jun_2017.append(jul_cle)
jul_aug_2017=jun_jul_2017.append(aug_cle)
aug_sep_2017=jul_aug_2017.append(sep_cle)
sep_oct_2017=aug_sep_2017.append(oct_cle)
oct_nov_2017=sep_oct_2017.append(nov_cle)
data2017=oct_nov_2017.append(dec_cle)
data2017

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 18
0,2017-01-01,EV,IAH,"Houston, TX",CLE,"Cleveland, OH",1935,-4.0,0.0,2258.0,-22.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,EV,IAH,"Houston, TX",CLE,"Cleveland, OH",1344,-8.0,0.0,1706.0,-26.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,EV,CLE,"Cleveland, OH",EWR,"Newark, NJ",1843,-7.0,0.0,2012.0,-13.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-01-01,EV,CLE,"Cleveland, OH",IAH,"Houston, TX",1003,1.0,1.0,1244.0,14.0,14.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2017-01-01,EV,CLE,"Cleveland, OH",EWR,"Newark, NJ",742,-6.0,0.0,903.0,-21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11453,2017-12-31,EV,MSP,"Minneapolis, MN",CLE,"Cleveland, OH",2030,-1.0,0.0,2326.0,-15.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11454,2017-12-31,EV,CLE,"Cleveland, OH",LGA,"New York, NY",830,49.0,49.0,1040.0,31.0,31.0,0.0,31.0,0.0,0.0,0.0,0.0,NaN
11455,2017-12-31,EV,LGA,"New York, NY",CLE,"Cleveland, OH",1630,-7.0,0.0,1811.0,-20.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11456,2017-12-31,EV,CLE,"Cleveland, OH",DTW,"Detroit, MI",1745,-5.0,0.0,1822.0,-23.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11457,2017-12-31,EV,DTW,"Detroit, MI",CLE,"Cleveland, OH",1525,53.0,53.0,1702.0,33.0,33.0,0.0,31.0,0.0,0.0,0.0,2.0,NaN

In [28]:
data2017.count()

FL_DATE                71272
OP_UNIQUE_CARRIER      71272
ORIGIN                 71272
ORIGIN_CITY_NAME       71272
DEST                   71272
DEST_CITY_NAME         71272
CRS_DEP_TIME           71272
DEP_DELAY              70245
DEP_DELAY_NEW          70245
ARR_TIME               70201
ARR_DELAY              70094
ARR_DELAY_NEW          70094
CANCELLED              71272
CARRIER_DELAY          12195
WEATHER_DELAY          12195
NAS_DELAY              12195
SECURITY_DELAY         12195
LATE_AIRCRAFT_DELAY    12195
Unnamed: 18                0
dtype: int64

In [29]:
data2017.to_csv('Data_2017.csv')