In [1]:
import pandas as pd

In [2]:
data_df=pd.read_csv("./cleaned_csvs/2019_data.csv")

In [3]:
data_df['year'] = pd.DatetimeIndex(data_df['FL_DATE']).year
# data_df.head()

In [4]:
data_df['month'] = pd.DatetimeIndex(data_df['FL_DATE']).month
# data_df.head()

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99228 entries, 0 to 99227
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           99228 non-null  int64
 1   FL_DATE              99228 non-null  object
 2   OP_UNIQUE_CARRIER    99228 non-null  object
 3   ORIGIN               99228 non-null  object
 4   ORIGIN_CITY_NAME     99228 non-null  object
 5   DEST                 99228 non-null  object
 6   DEST_CITY_NAME       99228 non-null  object
 7   CRS_DEP_TIME         99228 non-null  int64
 8   DEP_DELAY            97186 non-null  float64
 9   DEP_DELAY_NEW        97186 non-null  float64
 10  ARR_TIME             97088 non-null  float64
 11  ARR_DELAY            96918 non-null  float64
 12  ARR_DELAY_NEW        96918 non-null  float64
 13  CANCELLED            99228 non-null  float64
 14  CARRIER_DELAY        17779 non-null  float64
 15  WEATHER_DELAY        17779 non-null  float64
 16  NAS_DELAY            17779 non-null  float64
 17  SECURITY_DELAY       17779 non-null  float64
 18  LATE_AIRCRAFT_DELAY  17779 non-null  float64
 19  Unnamed: 18          0 non-null      float64
 20  year                 99228 non-null  int64
 21  month                99228 non-null  int64
dtypes: float64(12), int64(4), object(6)
memory usage: 16.7+ MB

In [6]:
# Delete Unwated Columns

del data_df['Unnamed: 0']
del data_df['Unnamed: 18']

In [7]:
data_df

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,year,month
0,2019-01-01,9E,CLE,"Cleveland, OH",MSP,"Minneapolis, MN",1100,-9.0,0.0,1205.0,-4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2019,1
1,2019-01-01,9E,CLE,"Cleveland, OH",JFK,"New York, NY",1606,-10.0,0.0,1725.0,-24.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2019,1
2,2019-01-01,9E,CLE,"Cleveland, OH",DTW,"Detroit, MI",1745,3.0,3.0,1850.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2019,1
3,2019-01-01,9E,DTW,"Detroit, MI",CLE,"Cleveland, OH",1550,-5.0,0.0,1719.0,19.0,19.0,0.0,0.0,0.0,19.0,0.0,0.0,2019,1
4,2019-01-01,9E,DTW,"Detroit, MI",CLE,"Cleveland, OH",1226,-2.0,0.0,1311.0,-23.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99223,2019-12-31,NK,CLE,"Cleveland, OH",LAX,"Los Angeles, CA",2025,43.0,43.0,2221.0,-25.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2019,12
99224,2019-12-31,NK,CLE,"Cleveland, OH",ATL,"Atlanta, GA",1808,4.0,4.0,2001.0,-8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2019,12
99225,2019-12-31,NK,ATL,"Atlanta, GA",CLE,"Cleveland, OH",933,0.0,0.0,1117.0,-2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2019,12
99226,2019-12-31,NK,RSW,"Fort Myers, FL",CLE,"Cleveland, OH",2059,16.0,16.0,2345.0,6.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN,2019,12
99227,2019-12-31,NK,CLE,"Cleveland, OH",RSW,"Fort Myers, FL",1535,-7.0,0.0,1817.0,-6.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2019,12

In [8]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99228 entries, 0 to 99227
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FL_DATE              99228 non-null  object
 1   OP_UNIQUE_CARRIER    99228 non-null  object
 2   ORIGIN               99228 non-null  object
 3   ORIGIN_CITY_NAME     99228 non-null  object
 4   DEST                 99228 non-null  object
 5   DEST_CITY_NAME       99228 non-null  object
 6   CRS_DEP_TIME         99228 non-null  int64
 7   DEP_DELAY            97186 non-null  float64
 8   DEP_DELAY_NEW        97186 non-null  float64
 9   ARR_TIME             97088 non-null  float64
 10  ARR_DELAY            96918 non-null  float64
 11  ARR_DELAY_NEW        96918 non-null  float64
 12  CANCELLED            99228 non-null  float64
 13  CARRIER_DELAY        17779 non-null  float64
 14  WEATHER_DELAY        17779 non-null  float64
 15  NAS_DELAY            17779 non-null  float64
 16  SECURITY_DELAY       17779 non-null  float64
 17  LATE_AIRCRAFT_DELAY  17779 non-null  float64
 18  year                 99228 non-null  int64
 19  month                99228 non-null  int64
dtypes: float64(11), int64(3), object(6)
memory usage: 15.1+ MB

In [9]:
data_df.to_csv("./Clean/Data_2019.csv")