In [1]:
import pandas as pd

In [2]:
data_df=pd.read_csv("./cleaned_csvs/cle_flights_2020.csv")

In [3]:
data_df['year'] = pd.DatetimeIndex(data_df['FL_DATE']).year
# data_df.head()

In [4]:
data_df['month'] = pd.DatetimeIndex(data_df['FL_DATE']).month
# data_df.head()

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22539 entries, 0 to 22538
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           22539 non-null  int64
 1   MONTH                22539 non-null  int64
 2   FL_DATE              22539 non-null  object
 3   OP_UNIQUE_CARRIER    22539 non-null  object
 4   ORIGIN               22539 non-null  object
 5   ORIGIN_CITY_NAME     22539 non-null  object
 6   DEST                 22539 non-null  object
 7   DEST_CITY_NAME       22539 non-null  object
 8   CRS_DEP_TIME         22539 non-null  int64
 9   DEP_DELAY            21118 non-null  float64
 10  DEP_DELAY_NEW        21118 non-null  float64
 11  CRS_ARR_TIME         22539 non-null  int64
 12  ARR_TIME             21115 non-null  float64
 13  ARR_DELAY            21096 non-null  float64
 14  ARR_DELAY_NEW        21096 non-null  float64
 15  CANCELLED            22539 non-null  float64
 16  CANCELLATION_CODE    1423 non-null   object
 17  CARRIER_DELAY        2493 non-null   float64
 18  WEATHER_DELAY        2493 non-null   float64
 19  NAS_DELAY            2493 non-null   float64
 20  SECURITY_DELAY       2493 non-null   float64
 21  LATE_AIRCRAFT_DELAY  2493 non-null   float64
 22  Unnamed: 21          0 non-null      float64
 23  year                 22539 non-null  int64
 24  month                22539 non-null  int64
dtypes: float64(12), int64(6), object(7)
memory usage: 4.3+ MB

In [6]:
# Delete Unwated Columns

del data_df['Unnamed: 0']
del data_df['Unnamed: 21']
del data_df['MONTH']
del data_df['CANCELLATION_CODE']
del data_df['CRS_ARR_TIME']

In [7]:
data_df

,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,CRS_DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,year,month
0,2020-01-01,WN,PHX,"Phoenix, AZ",CLE,"Cleveland, OH",1305,6.0,6.0,1846.0,-4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,1
1,2020-01-01,WN,STL,"St. Louis, MO",CLE,"Cleveland, OH",1910,14.0,14.0,2144.0,-1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,1
2,2020-01-01,WN,STL,"St. Louis, MO",CLE,"Cleveland, OH",830,20.0,20.0,1103.0,3.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,1
3,2020-01-02,WN,ATL,"Atlanta, GA",CLE,"Cleveland, OH",820,2.0,2.0,1000.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,1
4,2020-01-02,WN,ATL,"Atlanta, GA",CLE,"Cleveland, OH",1645,20.0,20.0,1831.0,6.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22534,2020-03-11,UA,CLE,"Cleveland, OH",DEN,"Denver, CO",1115,-11.0,0.0,1217.0,-19.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,3
22535,2020-03-11,UA,EWR,"Newark, NJ",CLE,"Cleveland, OH",1400,-4.0,0.0,1537.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,3
22536,2020-03-11,UA,CLE,"Cleveland, OH",ORD,"Chicago, IL",1115,-10.0,0.0,1120.0,-25.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,3
22537,2020-03-11,UA,CLE,"Cleveland, OH",SFO,"San Francisco, CA",1921,-2.0,0.0,2131.0,-5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,3
22538,2020-03-11,UA,CLE,"Cleveland, OH",ORD,"Chicago, IL",845,-7.0,0.0,903.0,-12.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020,3

In [8]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22539 entries, 0 to 22538
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FL_DATE              22539 non-null  object
 1   OP_UNIQUE_CARRIER    22539 non-null  object
 2   ORIGIN               22539 non-null  object
 3   ORIGIN_CITY_NAME     22539 non-null  object
 4   DEST                 22539 non-null  object
 5   DEST_CITY_NAME       22539 non-null  object
 6   CRS_DEP_TIME         22539 non-null  int64
 7   DEP_DELAY            21118 non-null  float64
 8   DEP_DELAY_NEW        21118 non-null  float64
 9   ARR_TIME             21115 non-null  float64
 10  ARR_DELAY            21096 non-null  float64
 11  ARR_DELAY_NEW        21096 non-null  float64
 12  CANCELLED            22539 non-null  float64
 13  CARRIER_DELAY        2493 non-null   float64
 14  WEATHER_DELAY        2493 non-null   float64
 15  NAS_DELAY            2493 non-null   float64
 16  SECURITY_DELAY       2493 non-null   float64
 17  LATE_AIRCRAFT_DELAY  2493 non-null   float64
 18  year                 22539 non-null  int64
 19  month                22539 non-null  int64
dtypes: float64(11), int64(3), object(6)
memory usage: 3.4+ MB

In [9]:
data_df.to_csv("./Clean/Data_2020.csv")